<div class="container">
  <div class="header">
    <h3 class="text-muted">
      Google Map - Angular 2
    </h3>
    <hr/>
  </div>
  <div class="row content">
    <div class="col-md-7">
      <sebm-google-map>
          <es-map-geocoder
            [zoom]="mapZoom"
            [center]="mapCenter"
            (mapClick)="onMapClick($event)">
          </es-map-geocoder>
          <es-map-direction
            [render]="directionRenderer"
            [data]="getRemoteLocations() | async"
            [options]="directionOptions"
            (onAfterRendered)="onAfterDirectionRender($event)">
          </es-map-direction>
          <div
              *ngFor="let loc of getRemoteLocations() | async; let i = index">
            <sebm-google-map-marker
              *ngIf="i === 0"
              [iconUrl]="'https://mts.googleapis.com/maps/vt/icon/name=icons/spotlight/spotlight-waypoint-a.png&psize=16&font=fonts/Roboto-Regular.ttf&color=ff333333&ax=44&ay=48&scale=1&text=' + loc.label"
              [latitude]="loc.latitude"
              [longitude]="loc.longitude"
              [label]="''"
              [title]="loc.title">
            </sebm-google-map-marker>
            <sebm-google-map-marker
              [latitude]="loc.latitude"
              [longitude]="loc.longitude"
              [label]="loc.label"
              [title]="loc.title">
            </sebm-google-map-marker>
          </div>
      </sebm-google-map>
      <div bsModal
        #modal="bs-modal"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="esModal"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button
                (click)="onModalCloseClick()"
                type="button"
                class="close"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="modal-title">
                Add description about this place:
              </h5>
            </div>
            <div class="modal-body">
              <es-form
                (saved)="onSave($event)"
                [data]="data" >
              </es-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div id="right-panel" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">
            <span
              *ngIf="!distanceCalculation">
              Show Directions
            </span>
            <i class="glyphicon glyphicon-map-marker"></i>
            <span
              *ngIf="distanceCalculation"
              class="badge">
                {{ distanceCalculation.distance.text }}
            </span>
            <span
              *ngIf="distanceCalculation"
              class="badge">
                {{ distanceCalculation.duration.text }}
            </span>
          </h3>
          <div class="btn-group pull-right">
            <button
              [(ngModel)]="routeMode"
              (ngModelChange)="routeModeChange($event)"
              btnRadio="DRIVING"
              title="Get directions with driving mode"
              class="btn btn-primary">
              <i class="fa fa-car"></i>
            </button>
            <button
              [(ngModel)]="routeMode"
              (ngModelChange)="routeModeChange($event)"
              btnRadio="WALKING"
              title="Get directions with walking mode"
              class="btn btn-primary">
              <i class="fa fa-male"></i>
            </button>
            <button
              [(ngModel)]="routeMode"
              (ngModelChange)="routeModeChange($event)"
              btnRadio="clear"
              title="Clear routes"
              class="btn btn-warning">
              <i class="fa fa-remove"></i>
            </button>
            <button
              [(ngModel)]="routeMode"
              (ngModelChange)="routeModeChange($event)"
              btnRadio="removeAll"
              title="Remove all locations"
              class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div
            [sortablejs]="getRemoteLocations() | async"
            [sortablejsOptions]="sortableOptions"
            runInsideAngular="true"
            class="sortable">
            <div *ngFor="let loc of getRemoteLocations() | async">
              <alert type="info" dismissible="true" (onClosed)="onAlertClosed(loc.id)" (click)="onAlertClick(loc)">
                <span class="badge">{{ loc.label }}</span> {{ loc.title }}
              </alert>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <hr/>
    <p class="text-center">
      <span class="glyphicon glyphicon-check"></span> Created by Gian Febrian -
      <a href="https://gitlab.com/gianfebrian/earnest-skeleton">GitLab Repo</a>
    </p>
  </footer>
</div>


