<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" formControlName="title" />
    </div>
    <div class="form-group">
        <label for="label">Description:</label>
        <input type="text" class="form-control" id="description" formControlName="description" />
    </div>
    <div class="form-group">
        <label for="longitude">Longitude:</label>
        <input type="text" class="form-control" id="longitude" formControlName="longitude" />
    </div>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" class="form-control" id="latitude" formControlName="latitude" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
